@import "@/styles/mixins";
@import "@/styles/variables";
.container {
  display: flex;
  align-items: center;
  span {
    margin-right: 1.5rem;
  }
  .icon {
    fill: $color-border;
    width: 2rem;
    height: auto;
  }
  h1 {
    flex: 1;
    color: $color-alt-copy;
    @include fluid-size(font-size, $phone-s, $tablet-v, 24px, 32px);
  }
}
