@import "@/styles/mixins";
@import "@/styles/variables";
.container {
  display: flex;
  align-items: center;
  span {
    margin-right: 1.5rem;
  }
  .icon {
    fill: $color-border;
    width: 2rem;
    height: auto;
  }
}
