.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: transparent linear-gradient(180deg, #e3f3ff00 85%, #e3f3ffa0 100%)
    0% 0% no-repeat padding-box;
  padding: 3rem 0;
  overflow: hidden;
}