@import "@/styles/mixins";
@import "@/styles/variables";

.footer {
  flex-grow: 0;
}

.logo {
  color: $color-brand;
  width: rem(164);
  &Wrapper {
    grid-area: logoWrapper;
    display: flex;
    flex-direction: column;
    color: $color-alt-copy;
    gap: 8px;
    @media (max-width: $phone-v) {
      align-items: center;
      text-align: center;
    }
  }
}

.wrapper {
  display: grid;
  align-items: center;
  grid-template-columns:
    minmax(min-content, max-content) minmax(max-content, 1fr)
    max-content;
  // grid-template-columns: 203px minmax(max-content, 1fr) 203px;
  grid-template-areas:
    "logoWrapper menu socials"
    "address ... mailWrapper";
  gap: 20px 40px;
  padding: {
    top: 20px;
    bottom: 20px;
  }
  p.address {
    max-width: 14rem;
    @media (max-width: $phone-v) {
      text-align: center;
      max-width: 100%;
    }
  }
  @media (max-width: $desktop) {
    grid-template-columns: 1fr max-content;
    grid-template-areas:
      "menu menu"
      "logoWrapper socials"
      "address mailWrapper";
  }
  @media (max-width: $phone-v) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "menu"
      "logoWrapper"
      "socials"
      "address"
      "mailWrapper";
  }
}

.description {
  font-weight: 300;
  margin: 0;
}

.menu {
  grid-area: menu;
  font-weight: 300;
  justify-content: center;
}

.socials {
  grid-area: socials;
  justify-content: flex-end;

  @media (max-width: $phone-v) {
    justify-content: center;
  }
}

.address {
  font-size: 0.9em;
  grid-area: address;
  margin: 0;
}

.mail {
  font-size: 1.2em;
  @media (max-width: $desktop) {
    font-size: 16px;
  }
  &Wrapper {
    grid-area: mailWrapper;
    text-align: right;
    align-self: baseline;
    @media (max-width: $phone-v) {
      text-align: center;
    }
  }
}
