@import "@/styles/mixins";
@import "@/styles/variables";
.container {
  width: 100%;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    &::after {
      padding-top: 83.3333%;
      display: block;
      content: "";
    }
    figure,
    iframe {
      padding: 0;
      margin: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    iframe {
      z-index: -1;
    }
    .loadingAd {
      z-index: -2;
      opacity: 0.5;
    }
  }
}
