.container {
  flex: 1;
  main {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  &.general {
    display: grid;
    grid-template-rows: 5rem 1fr 12rem;
  }
  header {
    position: fixed;
    z-index: 20;
    top: 0;
    width: 100%;
    background-color: rgba($color: #ffffff, $alpha: 0.95);
  }
  .headerDummy {
    height: 5rem;
  }
}
