@import "@/styles/mixins";
@import "@/styles/variables";
.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: transparent linear-gradient(180deg, #e3f3ff00 70%, #e3f3ffa0 100%)
    0% 0% no-repeat padding-box;
    padding-bottom: 3rem;
  .feature {
    display: flex;
    @media (max-width: $tablet-h) {
      flex-direction: column;
    }

    .content {
      flex: 2;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      @media (max-width: $desktop) {
        flex: 1;
      }
      @media (max-width: $tablet-h) {
        flex: 1 100%;
      }
      .usesAndSteps {
        display: flex;
        margin-top: 2rem;
        @media (max-width: $tablet-h) {
          flex-wrap: wrap;
          margin-top: 0;
        }

        .uses,
        .steps {
          display: flex;
          flex-direction: column;
          flex: 1;
          .copy {
            flex: 1;
          }
          .bullets {
            margin-bottom: -1.25rem;
            @media (max-width: $tablet-h) {
              margin-bottom: 1rem;
            }
          }
          h3 {
            margin-bottom: 0.5rem;
            color: $color-brand;
          }
          @media (max-width: $tablet-v) {
            flex: 1 100%;
          }
        }
        .uses {
          margin-right: 3rem;
          @media (max-width: $tablet-v) {
            margin-right: 0;
          }
        }
        .cta {
          @media (max-width: $tablet-v) {
            margin-top: 1rem;
          }
        }
      }
    }
    figure {
      flex: 1;
      padding: 0;
      margin: 0 0 0 5rem;
      @media (max-width: $tablet-h) {
        flex: 1 75%;
        max-width: rem(600);
        margin: 3rem auto 0;
      }
      video {
        width: 100%;
        height: auto;
        border: 1px solid grey;
      }
    }
  }
  .findOutMore {
    margin-top: 3rem;
  }
  .entFeaturesSlides {
    background-color: $color-light;
    margin-top: -1.25rem;
  }
}
