@import "@/styles/mixins";
@import "@/styles/variables";
.container {
  display: absolute;
  flex-direction: column;
  flex: 1;
  position: relative;
  .top {
    margin-top: -5rem;
    height: 5rem;
    pointer-events: none;
  }
  .featuresContainer {
    @include se6-grid(4, 3rem);

    .feature {
      display: flex;
      flex: 1;
    }
    @media (max-width: $desktop) {
      @include se6-grid(2, 2rem);
    }
    @media (max-width: $phone-h) {
      @include se6-grid(1);
    }
  }
  .cta {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 2rem;
    @media (max-width: $phone-h) {
      Button {
        display: none;
      }
    }
  }

  .entFeaturesSlides {
    background-color: $color-light;
    margin-top: -1.25rem;
  }

  .help {
    background: transparent
      linear-gradient(180deg, #e3f3ff00 70%, #e3f3ffa0 100%) 0% 0% no-repeat
      padding-box;
  }
}
