@import "@/styles/mixins";
@import "@/styles/variables";
.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  .featuresContainer {
    @include se6-grid(4, 2rem);
    margin-top: 2rem;
    @include fluid-size(margin-top, $phone-v, $tablet-h, 16px, 32px);
    .feature {
      display: flex;
      flex: 1;
    }
    @media (max-width: $tablet-h) {
      @include se6-grid(2, 2rem);
    }
    @media (max-width: $phone-h) {
      @include se6-grid(1, 2rem);
    }
  }
  .findOutMore {
    margin-top: 3rem;
  }
}
