@import "@/styles/mixins";
@import "@/styles/variables";

.container {
  display: flex;
  align-items: center;
  gap: rem(17);
}

.icon {
  width: 2.25rem;
  height: 2.25rem;
  fill: $color-border;
}
