@import "@/styles/mixins";
@import "@/styles/variables";
.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  figure {
    padding: 0;
    margin: 0;
  }
  .author {
    font-weight: 700;
  }
  .date {
    color: $color-brand;
    font-size: 0.9em;
  }
  p {
    flex: 1;
    margin: 1.5rem auto;
  }
}
