@import "@/styles/mixins";
@import "@/styles/variables";
.container {
  background: rgba($color: #ffffff, $alpha: 0.6) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.2);
  display: flex;
  .title {
    display: flex;
    align-items: center;
    height: rem(140);
    .nav {
      cursor: pointer;
    }
    .icon,
    .prevIcon,
    .nextIcon {
      width: 2rem;
      height: 2rem;
      margin-left: 1.5rem;
    }
    .nextIcon,
    .prevIcon {
      width: 2.3rem;
      height: 2.3rem;
    }
    .nextIcon {
      transform: scaleX(-1);
    }
    h1 {
      flex: 1;
      color: $color-alt-copy;
    }
  }
}
