@import "@/styles/mixins";
@import "@/styles/variables";
.videoAdContainer {
  position: relative;
  cursor: pointer;
  video,
  source {
    max-width: 100%;
    height: auto;
    max-height: 90vh;
  }
  .videoOverlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.33);

    .videoThumbIcon {
      fill: $color-white;
      width: 12rem;
      opacity: 66%;
      // max-width: 33%;
      max-height: 85%;
    }
  }
}
