@import "@/styles/mixins";
@import "@/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  .heroBanner {
    flex-direction: column;
    display: flex;
    height: 45rem;
  }
  .whyStreameye,
  .whoUsesStreameye,
  .whatIsStreameye {
    display: flex;
    flex-direction: column;
    @include fluid-size(margin-top, $tablet-v, $desktop, 48px, 96px);
  }
}
