@import "@/styles/mixins";
@import "@/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  .heroBanner {
    flex-direction: column;
    display: flex;
    height: 45rem;
  }
  .whyStreameye,
  .whoUsesStreameye,
  .whatIsStreameye,
  .whyIsStreameyeRight,
  .notConvinced {
    display: flex;
    flex-direction: column;
    @include fluid-size(margin-top, $tablet-v, $desktop, 48px, 96px);
  }
  .whatIsStreameye {
    background: linear-gradient(180deg, #fff 0%, #fff 70%, #e3f3ff 100%);
  }
  .whyIsStreameyeRight {
    background-color: $color-light;
  }
}
