$color-brand: #56bd52;
$color-white: #ffffff;
$color-black: #000000;
$color-dark: #101010;
$color-alt-copy: #707070;
$color-border: #429eb2;
$color-light: #e2f6fa;
$color-accent: #075b6b;

$desktop: 1280px;
$destop-hd: 1920px;
$tablet-h: 1024px;
$tablet-v: 768px;
$phone-h: 640px;
$phone-v: 480px;
$phone-s: 360px;

$transition: 0.25s ease;

$section-margin: 96px;
$subsection-margin: 48px;
