/*! COMMENT LINE DO NOT REMOVE */
@import "@/styles/normalize";

@import url("https://use.typekit.net/nef4mwk.css");

@import "@/styles/mixins";
@import "@/styles/variables";
html,
body {
  padding: 0;
  margin: 0;
  font-family: "hero-new", sans-serif;
  color: $color-dark;
  line-height: 1.25;
  display: flex;
  height: 100vh;
  flex-direction: column;
}
#__next {
  display: flex;
  flex: 1;
  flex-direction: column;
}

* {
  min-width: 0;
  box-sizing: border-box;
}

button,
select,
a {
  color: inherit;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
}
h1 {
  text-transform: uppercase;
  font-size: rem(40);
  font-weight: 300;
}
:root {
  --swiper-theme-color: #{$color-brand};
}
