.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  .checkContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    &.checkGridContainer {
      display: grid;
      grid-template-rows: auto;
    }
    .check {
      display: flex;
      align-items: center;
      label {
        margin: 0 1.5rem 0 0.5rem;
      }
    }
  }
}
