@import "@/styles/mixins";
@import "@/styles/variables";
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  .checkContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    &.checkGridContainer {
      display: grid;
      grid-template-rows: auto;
      gap: 1rem;
    }
    .check {
      display: flex;
      flex: 1;
    }
  }
  .funkyCheck {
    fill: $color-accent;
    width: 66%;
    height: auto;
  }
  .funkyBox {
    border: 1px solid $color-accent;
    background-color: transparent;
    width: 2rem;
    height: 2rem;
  }
  .funkyBoxChecked,
  .funkyBox:hover {
    background-color: rgba($color: $color-light, $alpha: 1);
  }
  .funkyLabel {
    color: $color-accent;
    margin-left: 0.66rem;
  }
}
